<td>{{title}}</td>

<td class="min-profile">
  <app-formula-error-tooltip [unit]="scaleUnit.minimumUnit.profile" [name]="title"></app-formula-error-tooltip>
</td>
<td class="delta">
  <app-formula-error-tooltip [unit]="scaleUnit_compare.minimumUnit.profile" [name]="title"></app-formula-error-tooltip>
</td>

<td class="min-conversion">
  <app-formula-error-tooltip [unit]="scaleUnit.minimumUnit.conversion" [name]="title"></app-formula-error-tooltip>
</td>
<td class="delta">
  <app-formula-error-tooltip [unit]="scaleUnit_compare.minimumUnit.conversion" [name]="title"></app-formula-error-tooltip>
</td>

<td class="opt-profile">
  <app-formula-error-tooltip [unit]="scaleUnit.optimalUnit.profile" [name]="title"></app-formula-error-tooltip>
</td>
<td class="delta">
  <app-formula-error-tooltip [unit]="scaleUnit_compare.optimalUnit.profile" [name]="title"></app-formula-error-tooltip>
</td>

<td class="opt-conversion">
  <app-formula-error-tooltip [unit]="scaleUnit.optimalUnit.conversion" [name]="title"></app-formula-error-tooltip>
</td>
<td class="delta">
  <app-formula-error-tooltip [unit]="scaleUnit_compare.optimalUnit.conversion" [name]="title"></app-formula-error-tooltip>
</td>

<td class="instances"></td>
<td class="delta"></td>
