<div id="sizes-content">


  <div class="accordion-container" *ngIf="supportedDeployments.length > 0">
    <p class="info-msg">Supported Deployment Sizes</p>
    <br>
    <br>

    <div class="accordion-header-container">
      <p class="accordion-header">Deployment</p>
      <p class="no-elements-heading">Number of Network Elements</p>
    </div>

    <div class="accordion lines">
      <ul>
        <li tabindex="0" *ngFor="let deployment of supportedDeployments">
          <div class="title">{{ deployment["name"] }}<div class="number-elements"> {{ totalNumberOfElements }} </div></div>

          <div class="content">
            <app-expanded-accordion-row [mediationComponents]="deployment['mediationComponents']"
                                        [keyDimensioningValues]="deployment['keyDimensioningValues']">
            </app-expanded-accordion-row>
          </div>
        </li>
      </ul>
    </div>
  </div>




  <div class="accordion-container" *ngIf="unsupportedDeployments.length > 0">
    <p class="info-msg">Unsupported Deployment Sizes</p>
    <br>
    <br>

    <div class="accordion-header-container">
      <p class="accordion-header">Deployment</p>
      <p class="no-elements-heading">Number of Network Elements</p>
    </div>

    <div class="accordion lines">
      <ul>
        <li tabindex="0" *ngFor="let deployment of unsupportedDeployments">
          <div class="title">{{ deployment["name"] }} <div class="number-elements"> {{ totalNumberOfElements }} </div></div>

          <div class="content">
            <app-expanded-accordion-row [mediationComponents]="deployment['mediationComponents']"
                                        [keyDimensioningValues]="deployment['keyDimensioningValues']">
            </app-expanded-accordion-row>
          </div>
        </li>
      </ul>
    </div>
  </div>



</div>
