

<div class="tile sm-12 md-6 lg-4 xl-3" style="height: 100%">
  <div class="header">
    <div class="left">
      <div class="title">RMRT Admin</div>
      <div class="subtitle">Select to edit</div>
    </div>
  </div>

  <div class="content">
    <div class="box">
      <div class="row" style="height: 100%">
        <div class="column sm-3">
          <div class="appnav">
            <div class="tree navigation">
              <ul>
                <li><a [routerLinkActive]="['active']" [routerLink]="['repositories']"><span class="item">Repositories</span></a></li>
                <li><a [routerLinkActive]="['active']" [routerLink]="['genericLoadDrivers']"><span class="item">Generic Load Drivers</span></a></li>
                <li><a [routerLinkActive]="['active']" [routerLink]="['deploymentTypes']"><span class="item">Deployment Types</span></a></li>
                <li><a [routerLinkActive]="['active']" [routerLink]="['referenceDeployments']"><span class="item">Reference Deployments</span></a></li>
                <li><a [routerLinkActive]="['active']" [routerLink]="['deploymentDependantLoadDrivers']"><span class="item">Deployment Load Drivers</span></a></li>
                <li><a [routerLinkActive]="['active']" [routerLink]="['fileSystems']"><span class="item">File Systems</span></a></li>
                <li><a [routerLinkActive]="['active']" [routerLink]="['userRoles']"><span class="item">User Roles</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="column sm-9">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
